html
{
    background-color: var(--clr-greys-200);
}

header
{
    display: grid;
    grid-template-columns: 10rem 1fr;
    place-items: center;
    place-content: center;
    height: 10rem;
    width: 100%;
    margin: 0;
    background-color: var(--clr-black);
}

header img
{
    height: 8rem;
    width: 8rem;
}

.header-text
{
    color: var(--clr-greys-200);
    font-family: var(--ff-primary);
    font-size: var(--fs-800);
}

.nav-bar
{
    color: var(--clr-greys-200);
    font-family: var(--ff-primary);
}

.nav-bar ul
{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav-bar li
{
    float: left;
    text-align: center;
}

.nav-bar a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar a:hover
{

}
.view-content
{
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
}

.view-all-content
{
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    width: 60rem;
    place-content: center;
    place-items: center;
    place-self: center;
}

.container-view
{
    display: grid;
    place-items: center;
    place-content: center;

    height: 10rem;
    width: 15rem;
    margin: 1rem;
    background-color: var(--clr-greys-200);
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -10px 5px 0 inset,
    rgba(0, 0, 0, 0.15) 0 -16px 10px 0 inset,
    rgba(0, 0, 0, 0.1) 0 -19px 20px 0 inset,
    rgba(0, 0, 0, 0.06) 0 2px 1px,
    rgba(0, 0, 0, 0.09) 0 4px 2px,
    rgba(0, 0, 0, 0.09) 0 8px 4px,
    rgba(0, 0, 0, 0.09) 0 16px 8px,
    rgba(0, 0, 0, 0.09) 0 32px 16px;
}

.character-name
{
    font-family: var(--ff-primary);
    font-size: var(--fs-500);
    font-weight: var(--fw-semi-bold);
}

.character-details
{
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
}

.character-details ul
{
    list-style: none;
}

.container-view:active
{
    background-color: var(--clr-red-300);
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -10px 5px 0 inset,
    rgba(0, 0, 0, 0.15) 0 -16px 10px 0 inset,
    rgba(0, 0, 0, 0.1) 0 -19px 20px 0 inset,
    rgba(0, 0, 0, 0.06) 0 2px 1px,
    rgba(0, 0, 0, 0.09) 0 4px 2px,
    rgba(0, 0, 0, 0.09) 0 8px 4px,
    rgba(0, 0, 0, 0.09) 0 16px 8px,
    rgba(0, 0, 0, 0.09) 0 32px 16px;
    transform: translateY(3px);
    transform: translateX(3px);
    transition: .5s;
}

.admin-content
{

}
.show-features textarea
{
    min-width: 20rem;
    min-height: 15rem;
    resize: none;
}
.container-background
{
    margin-top: 1rem;
}